:root {
  --light-blue: #2aacc8;
  --ultra-light-blue: #81e4ed;
  --blue-grey: #e8fcfe;
  --primary-grey: #e8ebf1;
  --light-grey: #e7e7e7;
  --dark-grey: #626262;
  --border-color: #d9d9d9;
  --grey-line: #dfe1e5;
  --grey-text: #363636;
  --dark-black: #0d0707;
}

// $maxWidth: 1400;